body {
    font-family: "Poppins", sans-serif;
    background-color: #76e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 1);
    padding: 10px 20px 20px;
}

.todo-container h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container input {
    width: 78%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-container button {
    width: 15%;
    background-color: #5fcff2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.input-container button:hover {
    background-color: #00b8d0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-radius: 10px;
    word-wrap: break-word; 
    word-break: break-all; 
    white-space: normal; /
}

li.completed {
    text-decoration: line-through;
    background-color: #b1def9;
}

li span {
    max-width: 70%;

}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-btn {
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #31b0d5;
}

button.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #c0392b;
}